@use "./variables" as *;
@use "./breakpoints" as *;

@mixin navbar-btn {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-right: 0.75rem;
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 2rem;
  @include sm {
    font-size: inherit;
  }
  font-family: inherit;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 50%;
    bottom: 0;
    background-color: $primary-gold;
    transition: height 0.3s;
    border-radius: 10px;
    z-index: -1;
    transform: translateX(-50%);
  }

  &:hover::after {
    height: 100%;
  }
}

@mixin primary-btn {
  display: block;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 10px;
  background-color: $primary-gold;
  border-radius: 10px;
  border: 2px solid $primary-gold;
  color: $white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: $white;
    color: $primary-gold;
  }
}
