@use "./breakpoints" as *;
@use "./variables" as *;

@mixin section-padding {
  padding: 20px 1rem;
  @include xs {
    padding: calc($nav-height + 20px) 1.3rem;
  }
  @include sm {
    padding: calc($nav-height + 20px) 1.5rem;
  }
  @include md {
    padding: calc($nav-height + 20px) 2rem;
  }
  @include lg {
    padding: calc($nav-height + 20px) 100px;
  }
  @include xlg {
    padding: calc($nav-height + 20px) 150px;
  }
}

@mixin nav-padding {
  padding: 0 1rem;
  @include xs {
    padding: 0 1.3rem;
  }
  @include sm {
    padding: 0 1.5rem;
  }
  @include md {
    padding: 0 2rem;
  }
  @include lg {
    padding: 0 100px;
  }
  @include xlg {
    padding: 0 150px;
  }
}
