@use "./breakpoints" as *;

@mixin paragraph {
  text-align: justify;
  line-height: 1.5rem;
  text-indent: 1.5rem;
  @include xs {
    line-height: 1.6rem;
    text-indent: 1.6rem;
  }
  @include md {
    line-height: 1.8rem;
    text-indent: 1.8rem;
  }
}
