@use "../../styles" as *;

.footer {
  background-color: rgba($footer-bgc, $alpha: 1);
  @include section-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  font-size: inherit;
  position: relative;

  &__logo {
    display: block;
    filter: grayscale(1);
    width: 50%;
    opacity: 0.5;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.3rem;
    a {
      color: $white;
      width: max-content;
      text-decoration: none;
    }
  }

  &__address {
    width: 100%;
    color: $white;
    font-size: inherit;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    a {
      color: inherit;
      font-size: inherit;
      text-decoration: none;
    }
  }
  hr {
    width: 100%;
    opacity: 0.5;
  }
}

@include sm {
  .footer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    &__logo {
      display: block;
      filter: grayscale(1);
      max-height: 100px;
      opacity: 0.5;
    }

    &__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.3rem;
      z-index: 0;
      a {
        color: $white;
        width: max-content;
        text-decoration: none;
        &:hover,
        &:focus {
          color: $primary-gold;
        }
      }
    }

    &__address {
      width: 100%;
      color: $white;
      font-size: inherit;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      a {
        color: inherit;
        font-size: inherit;
        text-decoration: none;
        &:hover,
        &:focus {
          color: $primary-gold;
        }
      }
    }
    hr {
      height: 100%;
      width: 100%;
      opacity: 0.5;
    }
  }
}
