@use "../../styles" as *;

.homeview {
  background-image: url("/home-hero.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @include section-padding;
  padding-top: $nav-height;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
  gap: 3rem;
  z-index: 0;

  &__container {
    padding: 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    z-index: 2;
  }

  h1 {
    font-size: 2.3rem;
    color: $white;
    background-color: rbga(black, 0.7);
  }
  h2 {
    font-size: 1.8rem;
    color: $primary-gold;
  }

  &__cta-btn {
    @include primary-btn;
    width: max-content;
  }

  &__img {
    width: min(100%, 350px);
  }
}

@include sm {
  .homeview {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 2.5rem;
    }

    &__img {
      width: min(100%, 450px);
    }
  }
}

@include md {
  .homeview {
    justify-items: start;
    align-content: center;
    text-align: left;
    background-size: contain;
    background-position: right;
    h1 {
      font-size: 3rem;
      color: $primary-blue;
    }
    h2 {
      font-size: 2.3rem;
    }

    &__container {
      position: relative;
      padding: 1rem;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      z-index: 2;
      text-align: center;
    }

    &__trapezoid {
      background-color: $white;
      clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      height: 100%;
      width: 60%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    &__img {
      width: min(400px, 600px);
    }
  }
}
