@use "../../styles" as *;

.homeview {
  background-image: url("/home-hero.png");
  background-size: cover;
  background-position: center;
  @include section-padding;
  padding-top: $nav-height;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: grid;
  place-content: center;
  gap: 3rem;
  z-index: 0;

  div {
    background: radial-gradient(rgba(black, 0.6), rgba(black, 0) 66%);
  }

  h1 {
    font-size: 2.6rem;
    color: $white;
    background-color: rbga(black, 0.7);
    z-index: 15;
  }
  h2 {
    font-size: 1.8rem;
    color: $primary-gold;
    z-index: 2;
  }

  &__img {
    width: min(100%, 350px);
  }
}

@include sm {
  .homeview {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 2.5rem;
    }

    &__img {
      width: min(100%, 450px);
    }
  }
}

@include md {
  .homeview {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 3rem;
    }

    &__img {
      width: min(400px, 600px);
    }
  }
}
