@use "../../styles" as *;

.projects {
  background-image: url("/hero-background.png");
  background-size: cover;
  background-position: center;
  @include section-padding;
  padding-top: $nav-height;
  min-height: 100vh;
  width: 100%;
  display: grid;
  gap: 1.5rem;

  &__description {
    @include paragraph;
    color: $white;
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  &__list {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 1.5rem;

    &-container {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 100%;
      text-align: center;
      gap: 1.5rem;
    }

    &-heading {
      text-align: center;
      color: $white;
    }
  }
}

@include sm {
  .projects {
    gap: 1rem;

    &__list {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 100%;
      text-align: center;
      gap: 1.5rem;

      &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
      }

      &-heading {
        font-size: 1.8rem;
      }
    }
  }
}

@include md {
  .projects {
    height: 100vh;
    min-height: unset;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    &__description {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      align-self: flex-end;
    }

    &__img {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
    }

    &__list {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  }
}
