@use "styles" as *;
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 15px;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  @include md {
    font-size: 20px;
  }
  background-color: $white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: $white;
  border: none;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-gold;
  border-radius: 10px;
}
