@use "styles" as *;
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  @include md {
    font-size: 18px;
  }
}
