@use "../../styles" as *;

.project-tile {
  color: $white;
  &__icon {
    color: $primary-gold;
    font-size: 7rem;
    background: radial-gradient(
      rgba($primary-gold, 0.12) 1%,
      transparent 60%,
      transparent 100%
    );
    background-position: top center;
  }

  &__title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    &-btn {
      transition: transform 0.3s ease-in-out;
      border: none;
      color: $primary-gold;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      svg {
        margin-top: 0.3rem;
      }
    }

    &:hover,
    &:focus-within {
      button {
        transform: translateX(0.5rem) scale(1.5);
      }
    }
  }
}

@include xs {
  .project-tile {
    &__icon {
      font-size: 8rem;
    }

    &__title {
      cursor: pointer;
      font-size: 1.3rem;
      &-btn {
        font-size: 1.3rem;
        transition: transform 0.3s ease-in-out;
        border: none;
        color: $primary-gold;
        background-color: transparent;
        cursor: pointer;
        outline: none;
      }

      &:hover,
      &:focus-within {
        button {
          transform: translateX(0.5rem) scale(1.5);
        }
      }
    }
  }
}

@include md {
  .project-tile {
    flex-grow: 1;
    &__icon {
      font-size: 8.5rem;
    }

    &__title {
      cursor: pointer;
      font-size: 1.3rem;
      gap: 0.5rem;
      &-btn {
        font-size: 1.3rem;
        transition: transform 0.3s ease-in-out;
        border: none;
        color: $primary-gold;
        background-color: transparent;
        cursor: pointer;
        outline: none;
      }

      &:hover,
      &:focus-within {
        button {
          transform: translateX(0.5rem) scale(1.5);
        }
      }
    }
  }
}
