@use "../../styles" as *;

.project-tile {
  color: $white;
  &__icon {
    color: $primary-gold;
    font-size: 3.5rem;
  }

  &__title {
    cursor: pointer;
    &-btn {
      transition: transform 0.3s ease-in-out;
      border: none;
      color: $primary-gold;
      background-color: transparent;
      cursor: pointer;
      outline: none;
    }

    &:hover,
    &:focus-within {
      button {
        transform: translateX(0.5rem) scale(1.5);
      }
    }
  }
}

@include xs {
  .project-tile {
    &__icon {
      font-size: 4rem;
    }

    &__title {
      cursor: pointer;
      font-size: 1.3rem;
      &-btn {
        font-size: 1.3rem;
        transition: transform 0.3s ease-in-out;
        border: none;
        color: $primary-gold;
        background-color: transparent;
        cursor: pointer;
        outline: none;
      }

      &:hover,
      &:focus-within {
        button {
          transform: translateX(0.5rem) scale(1.5);
        }
      }
    }
  }
}

@include md {
  .project-tile {
    &__icon {
      font-size: 4.5rem;
    }

    &__title {
      cursor: pointer;
      font-size: 1.3rem;
      &-btn {
        font-size: 1.3rem;
        transition: transform 0.3s ease-in-out;
        border: none;
        color: $primary-gold;
        background-color: transparent;
        cursor: pointer;
        outline: none;
      }

      &:hover,
      &:focus-within {
        button {
          transform: translateX(0.5rem) scale(1.5);
        }
      }
    }
  }
}
