@use "../../styles/" as *;

.media {
  background-color: $white;
  @include section-padding;
  padding-top: $nav-height;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  color: $primary-blue;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  &__description {
    @include paragraph;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__button {
    text-decoration: none;
    border: 1px solid $primary-gold;
    text-align: center;
    border-radius: 10px;
    color: inherit;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    z-index: 1;

    font-size: 1.5rem;

    &:hover,
    &:focus-within {
      background-color: $primary-gold;
      border: 1px solid transparent;
    }
  }
}

@include md {
  .media {
    &__container {
      flex-direction: row;
    }

    &__button {
      flex: 1 1 100px;
    }
  }
}
