@use "../../styles" as *;

.founders {
  background-size: cover;
  background-position: center;
  @include section-padding;
  padding-top: $nav-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  position: relative;
  overflow: hidden;

  &__white {
    background-color: $white;
    color: $primary-blue;
  }

  &__blue {
    background-image: url("/hero-background.png");
    color: $white;
  }

  &__circle {
    position: absolute;
    border-radius: 50%;
    background-color: $primary-gold;
    width: 45vh;
    height: 45vh;
    top: 55%;
    right: -50%;
    z-index: 0;
  }

  &__person {
    &-container {
      display: block;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      width: 80%;
      &::before {
        content: "";
        position: absolute;
        width: 3rem;
        height: 3rem;
        left: 0%;
        bottom: 0%;
        transform: translate(-25%, 25%);
        background-color: $primary-gold;
        border-radius: 10px;
        z-index: 2;
      }
    }
    &-img {
      display: block;
      border-radius: 10px;
      width: 100%;
      z-index: 1;
      box-shadow: 1rem -1rem 0px $primary-gold;
    }
  }

  &__title {
    color: $primary-gold;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    z-index: 1;
    p {
      @include paragraph;
    }
  }

  &__link {
    text-decoration: none;
    border: 1px solid $primary-gold;
    text-align: center;
    border-radius: 10px;
    color: inherit;
    padding: 20px 10px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    z-index: 1;
    &-img {
      height: 30px;
      width: auto;
      background-color: transparent;
      color: black;
      border-radius: 5px;
      padding: 2px;
    }

    &:hover,
    &:focus-within {
      background-color: $primary-gold;
      border: 1px solid transparent;
    }
  }
}

@include xs {
  .founders {
    &__title {
      font-size: 2rem;
    }
  }
}

@include md {
  $gap: 1.5rem;

  .founders {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    gap: $gap;

    &__circle {
      position: absolute;
      border-radius: 50%;
      background-color: $primary-gold;
      width: 45vh;
      height: 45vh;
      top: 38%;
      right: -10%;
      z-index: 0;
    }

    &__person {
      &-container {
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        max-width: 70%;
        align-self: flex-start;
        &::before {
          content: "";
          position: absolute;
          width: 3rem;
          height: 3rem;
          background-color: $primary-gold;
          border-radius: 10px;
          z-index: 2;
        }
      }
      &-img {
        margin-top: $gap;
        display: block;
        border-radius: 10px;
        width: 100%;
        z-index: 1;
        box-shadow: 1rem -1rem 0px $primary-gold;
      }
    }

    &__description {
      grid-column: 2 / 3;
      align-self: flex-start;
    }

    &__title {
      grid-column: 1 / -1;
      font-size: 3rem;
    }

    &__link {
      gap: 1.3rem;
      &-img {
        height: 65px;
      }
    }
  }
}
